@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Julius+Sans+One&family=Notable&family=Oxygen:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #eff3f4;
}