.nav {
  height: 52px; 
  font-family: 'Advent Pro', sans-serif;
  display: flex;
  background-color: red;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 80px;
}/*
.nav-left, .nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}*//*
h1 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: red;
  margin-left: 5px;
}
input {
  font-family: 'Advent Pro', sans-serif;
  height: 40px;
  border: 1px solid #377084;
  border-radius: 20px;
  font-size: 16px;
  padding: 0px 25px;
  color: #377084;
}
input::placeholder {
  color: #377084;
}
.cta {
  height: 40px;
  padding: 0px 25px;
  background-color: #377084;
  border: 1px solid #377084;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-left: 16px;
}
a {
  color: #EFF3F4;
  font-family: 'Advent Pro', sans-serif;
  font-size: 16px;
  text-decoration: none;
}*/